/* download */
.download a {
	display: inline-block;
	color: #20A53A;
	font-size: 18px;
	width: 100%;
/* 	height: 40px; */
	line-height: 40px;
}
.download a:hover {
	color: #008000
}
.download li{
	padding: 10px;
}
.download a:hover {
	color: #E8E7E3;
	background-color: #3F3F3F;
	border-radius: 10px;
}
.download li a::before  {
	content: "■";
	font-size: 10px;
	color: rgb(218, 218, 218);
	margin-right: 10px;
}