.download a {
	color: #20A53A;
	font-size: 18px;
	
}
.download a:hover {
	color: #008000
}
.download li{
	padding: 10px;
}
.download li::before  {
	content: "■";
	font-size: 10px;
	color: rgb(218, 218, 218);
	margin-right: 4px;
}