<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>mobile-about</title>
		<!-- import style -->
		<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css"/>
		
		<!-- import script -->
		<script src="../../js/element-plus/vue@3.js"></script>
		<script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
		
		<script src="../../js/axios.min.js"></script>
	</head>
	<body>
	<body>
		<div id="container">
			<van-nav-bar title="关于"></van-nav-bar>
			<div v-for="info in qqInfo">
				<van-card :desc="info.email" :title="info.name" :thumb="info.Image"></van-card>
			</div>
			
			<van-tabbar @change="OnChange" v-model="active">
			  <van-tabbar-item icon="home-o">Home</van-tabbar-item>
			  <van-tabbar-item icon="phone-o">contact</van-tabbar-item>
			  <van-tabbar-item icon="info-o">About</van-tabbar-item>
			  <van-tabbar-item icon="more-o">More</van-tabbar-item>
			</van-tabbar>
		</div>
	</body>
</html>

<script type="text/javascript">
	const app = 
	{
		data() 
		{
			return {
				active: 2,
				qqNumbers:
				[
					3452896431,
					2033849155,
					2231131660,
					1243103856
				],
				qqInfo: []
			}
		},
		methods: 
		{
			OnChange(number)
			{
				switch (number)
				{
					case 0:
						window.location.href = "mobile-home.html";
						break;
					case 1:
						window.location.href = "mobile-contact.html";
						break;
					case 2:
						window.location.href = "mobile-about.html";
						break;
					case 3:
						window.location.href = "mobile-more.html";
						break;
				}
			}
		},
		created()
		{
			for (var i = 0; i < this.qqNumbers.length; i++)
			{
				var getQQName = "https://api.usuuu.com/qq/" + this.qqNumbers[i];
				axios(
					{
						url: getQQName,
						method: "get"
					}
				).then((response) =>
					{
						var qqImagesUrl = "https://q.qlogo.cn/headimg_dl?dst_uin=" + response.data.data.email.split("@", 1) + "&spec=640&img_type=jpg"
						var nickname = response.data.data.name;
						var qqInfo = 
						{
							Image: qqImagesUrl,
							name: nickname,
							email: "邮箱：" + response.data.data.email
						};
						this.qqInfo.push(qqInfo);
					}
				);
			}
		}
	};
	var vue = Vue.createApp(app).use(vant).mount("#container");
</script>