<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>mobile-hoem</title>
		<!-- import style -->
		<link rel="stylesheet" href="https://fastly.jsdelivr.net/npm/vant@4/lib/index.css"/>
		
		<!-- import script -->
		<script src="../../js/element-plus/vue@3.js"></script>
		<script src="https://fastly.jsdelivr.net/npm/vant@4/lib/vant.min.js"></script>
	</head>
	<body>
		<div id="container">
			<van-notice-bar left-icon="volume-o" text="欢迎各位来到这个网站,这个网站是作为手机端的网站,以后不会打开电脑端网站."></van-notice-bar>
			<van-swipe :autoplay="3000" lazy-render>
				<van-swipe-item v-for="image in images">
					<img :src="image" :width="width" height="238"/>
				</van-swipe-item>
			</van-swipe>
			<van-tabbar @change="OnChange" v-model="active">
			  <van-tabbar-item icon="home-o">Home</van-tabbar-item>
			  <van-tabbar-item icon="phone-o">contact</van-tabbar-item>
			  <van-tabbar-item icon="info-o">About</van-tabbar-item>
			  <van-tabbar-item icon="more-o">More</van-tabbar-item>
			</van-tabbar>
		</div>
	</body>
</html>

<script type="text/javascript">
	const app = 
	{
		data() 
		{
			return {
				active: 0,
				images: 
				[
					"../../images/IMG_202404292748_424x238.jpg",
					"../../images/qrcode_for_group.png"
				],
				width: 0
			}
		},
		methods: 
		{
			OnChange(number)
			{
				switch (number)
				{
					case 0:
						window.location.href = "mobile-home.html";
						break;
					case 1:
						window.location.href = "mobile-contact.html";
						break;
					case 2:
						window.location.href = "mobile-about.html";
						break;
					case 3:
						window.location.href = "mobile-more.html";
						break;
				}
			}
		},
		created()
		{
			this.width = document.documentElement.clientWidth;
		}
	};
	var vue = Vue.createApp(app).use(vant).mount("#container");
</script>